*{
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}
body{
    padding: 0;
    margin: 0;
    background: no-repeat fixed center  linear-gradient(to top right, #3415bf, #440564);
}
.grid-cacl{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows:minmax(120px,auto) repeat(5,100px);
}
.grid-cacl > button{
    font-size: 2rem;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}
.grid-cacl > button:hover {
    background-color: rgba(255, 255, 255, .9);
  }
  .span-2{
    grid-column: span 2;
  }
.output{
    background-color: rgba(2, 2, 2, 0.75);
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;


}
.output .prev-value{
    font-size: 1.5rem;
    color: white;
}
.output .curr-value{
    font-size: 2.5rem;
    color: white;
}